html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .01rem;
}

li{
    list-style: none;
    position: relative;
    top: 4%;
    left: 5%;
}

a{
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    text-decoration: none;
    color: black;
}

p{
    padding: 0px;
    margin: 3px 0px 0px 5px;
}

#selector{
    background-color: #ffffff;
    width: 300px;
    height: 350px;
    padding: 0px ;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #707070;
}

.square{
    position: relative;
    align-items: inline;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

#bp{
    background-image: linear-gradient(160deg, #ffffff 0%, #000000 100%);
}

#ab{
    background-image: linear-gradient(160deg, #66D4EA 0%, #ffffff 100%);
}

#bv{
    background-image: linear-gradient(160deg, #ffffff 0%, #B2FFB4 100%);
}

#no{
    background-image: linear-gradient(160deg, #191919 0%, #ffffff 100%);
}

#voltar{
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #ffffff;
}

@media (max-width: 800px) {
    #hora{
        margin: 0px;
        padding: 0px ;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }
}

@media (orientation: landscape) {
    #hora{
        margin: 0px;
        padding: 0px ;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #hora{
        margin: 0px;
        padding: 0px ;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
    }
}

@media (min-width: 1201px) {
    #hora{
        margin: 0px;
        padding: 0px ;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 250px;
    }
    
}